<div id="slider">
  
  <!-- Sildes -->
  <img id="one" src="http://cssdeck.com/uploads/media/items/3/3yiC6Yq.jpg" />
  <img id="two" src="http://cssdeck.com/uploads/media/items/4/40Ly3VB.jpg" />
  <img id="three" src="http://cssdeck.com/uploads/media/items/0/00kih8g.jpg" />
  <img id="four" src="http://cssdeck.com/uploads/media/items/2/2rT2vdx.jpg" />
  <img id="five" src="http://cssdeck.com/uploads/media/items/8/8k3N3EL.jpg" />
  
  <!-- Links for the slides! -->
  <ul>
    <li>
      <a href="#one"></a>
    </li>
    <li>
      <a href="#two"></a>
    </li>
    <li>
      <a href="#three"></a>
    </li>
    <li>
      <a href="#four"></a>
    </li>
    <li>
      <a href="#five"></a>
    </li>
  </ul>
</div>
